services:
  - type: web
    name: job-aggregator-backend
    env: docker
    plan: free
    region: singapore
    rootDir: backend
    buildCommand: |
      pip install --upgrade pip &&
      pip install -r requirements.txt
    startCommand: "gunicorn --workers=2 --worker-class=uvicorn.workers.UvicornWorker --bind=0.0.0.0:$PORT --timeout=120 app.main:app"
